<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Write new chat</h3>
    <form action="http://localhost:8080/chats" method="post">
        <input type="text" placeholder="your name" name="from"><br><br>
        <textarea name="message" placeholder="enter your message" style="height: 100px; width: 200px;"></textarea><br><br>
        <input type="text" placeholder="recievers name" name="to"><br><br>
        <button>create chat</button>
    </form>
</body>
</html>